<!DOCTYPE html>
<html lang='es' style='height: 200%;'>
<head>
    <title>The coronavirus web</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('.tabs').tabs();
        });
    </script>
</head>
<body class="#c5cae9 indigo lighten-4">

    <nav>
        <div  style="background-color: #00f7ff8c;" class="nav-wrapper">
            <a href="#" class="brand-logo right">Coronavirus</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="active"><a href="{% url 'contacto' %}">Información</a></li>
            <li><a href="{% url 'hlascondes' %}">Las Condes</a></li>
            <li><a href="{% url 'hvitacura' %}">Vitacura</a></li>
            <li><a href="{% url 'hbarnechea' %}">Lo Barnechea</a></li>
            <li><a href="{% url 'hprovidencia' %}">Providencia</a></li>
            <li><a href="{% url 'hlareina' %}">La Reina</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Información</span>
                        <p>Datos coronavirus en Chile (10/07/20).</p>
                    </div>
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a style="color: #0a0b0c;" class="active" href="#tab1">Cantidad Contagiados</a></li>
                        <li class="tab"><a style="color: #0a0b0c;" href="#tab2">Recuperados</a></li>
                        <li class="tab"><a style="color: #0a0b0c;" href="#tab3">Muertos</a></li>
                        <li class="tab"><a style="color: #0a0b0c;" href="#tab4">Casos Nuevos </a></li>
                        <li class="tab"><a style="color: #0a0b0c;" href="#tab5">Casos Activos</a></li>
                        </ul>
                    </div>
                    <div class="card-content grey lighten-4">
                        <div id="tab1">
                            Hay 306.216 personas contagiadas.
                        </div>
                        <div id="tab2">A la fecha 309.274 personas se han recuperado de coronavirus.</div>
                        <div id="tab3">A la fecha 6.781 personas han fallecido por coronavirus</div>
                        <div id="tab4">Hoy se registraron 3.058 casos nuevos de positividad al coronavirus</div>
                        <div id="tab5">Se registran 24.440 casos activos al dia de hoy</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Información</span>
                        <p>Datos coronavirus en el mundo (10/07/20).</p>
                    </div>
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a style="color: #0a0b0c;" class="active" href="#tab6">Cantidad Contagiados</a></li>
                        <li class="tab"><a style="color: #0a0b0c;" href="#tab7">Recuperados</a></li>
                        <li class="tab"><a style="color: #0a0b0c;" href="#tab8">Muertos</a></li>
                        <li class="tab"><a style="color: #0a0b0c;" href="#tab10">Casos Activos</a></li>
                        </ul>
                    </div>
                    <div class="card-content grey lighten-4">
                        <div id="tab6">
                            Hay 12.503.566 personas contagiadas.
                        </div>
                        <div id="tab7">A la fecha 7.291.738 personas se han recuperado de coronavirus.</div>
                        <div id="tab8">A la fecha 559.546 personas han fallecido por coronavirus.</div>
                        <div id="tab10">Se registran 4.652.282 casos activos al dia de hoy</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12">
        <h4>Informacion para la sociedad:</h4>
        <br>
        <a href="https://comisariavirtual.cl/" class="waves-effect waves-light btn">Comisaria virtual</a>
        <a href="https://www.gob.cl/coronavirus/" class="waves-effect waves-light btn">Gobierno Covid</a>
        <a href="https://www.minsal.cl/" class="waves-effect waves-light btn">Web ministerio de salud</a>
        <a href="https://comisariavirtual.cl/permisos_individuales.html" class="waves-effect waves-light btn">Permisos temporales</a>
        <a href="https://www.mega.cl/tv-educa-chile/?utm_source=www.mega.cl&utm_medium=www.mega.cl/home/&utm_campaign=pre_home" class="waves-effect waves-light btn">TV Educa</a>
        <a href="https://pointerpointer.com/" class="waves-effect waves-light btn">POINTER POINTER</a>
        <br>
        <h4>Noticieros:</h4>
        <br>
        <a href="https://www.meganoticias.cl/" class="waves-effect waves-light btn">Mega Noticias</a>
        <a href="https://www.24horas.cl/" class="waves-effect waves-light btn">24 horas</a>
        <a href="https://www.chvnoticias.cl/" class="waves-effect waves-light btn">CHV Noticias</a>
        <a href="https://www.t13.cl/" class="waves-effect waves-light btn">Tele 13</a>
        <a href="https://www.bbc.com/mundo" class="waves-effect waves-light btn">BBC</a>
        <a href="https://www.emol.com/" class="waves-effect waves-light btn">El Mercurio</a>
        <a href="https://www.latercera.com/" class="waves-effect waves-light btn">La tercera</a>
        <a href="https://www.lun.com/" class="waves-effect waves-light btn">Las ultimas noticias</a>
        <a href="http://www.lanacion.cl/" class="waves-effect waves-light btn">La nacion</a>
        <a href="https://www.theclinic.cl/" class="waves-effect waves-light btn">The Clinic</a>
    </div>
</body>               
</html>